<div id="password_rules_list">
  <ul class="info-list">
    <li id='password_rules_lowercase'>One lowercase letter</li>
    <li id='password_rules_uppercase'>One uppercase letter</li>
    <li id='password_rules_number'>One number</li>
    <li id='password_rules_special'>One special character</li>
    <li id='password_rules_length'>Eight characters minimum</li>
    <li id='password_rules_confirmation'>Matches confirmation</li>
  </ul>
</div>
