/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#sessions_new, #registrations_new, #passwords_new {
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .btn:hover, .btn:focus {
    box-shadow: 0 0 0 0.2rem #ccffe6;
    border-color: #ccffe6;
    color: white;
  }

  .form-control:focus {
    box-shadow: 0 0 0 0.2rem #ccffe6;
    border-color: #ccffe6;
  }

  .container {
    margin-top: 1em;
  }

  .field-icon {
    float: right;
    margin-left: -20px;
    margin-top: -25px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
  }
}

.current-date {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-sizing: border-box;
  border-radius: 15px 15px;
  padding: 8px;
}

.btn-xs {
  border-radius: 15px;
}

.btn-green {
  background-color: #339966;
  color: white;
}

.btn-dark-green {
  background-color: #006635;
  color: white;
}

#admins_index, #cashiers_index {
  .header-button {
    margin-right: 5px;
    margin-bottom: 20px
  }
}
