// Place all the styles related to the forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0.5em;
}
